@charset "utf-8";

*,
::before
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

body {
  font-family: 'Catamaran','Noto Sans JP',sans-serif;
  line-height: 1;
  background-image: url(../img/bg.png);
  margin: 0%;
  object-fit: cover;
}

ul,ol,li {
   list-style: none;
}
.toggle-menu-button{
  /*ブロックスタイル*/
  display: none;
}
.header{
  /*ブロックスタイル*/
  position: fixed;
  height: 5vh;
  width:100%;
  background-color: #d6caae;
  z-index: 10;
}
.header-inner{
  /*ブロックスタイル*/
  height: 100%;
  padding-left: calc(10% /19.2);
  padding-right: calc(10% /19.2);
  display:flex;
  /*justify-content: space-between;
  */
  align-items: center;
}
.header-logo{
  /*ブロックスタイル*/
  display:flex;
  height: 90%;
  z-index: 1;
  border-radius: 50%;
}
.header-heading{
  /*ブロックスタイル*/
  width: 100%;
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 3vh;
}
a{
  color: inherit;
  text-decoration: none;
}
.main{   
  width:100%;
  height: auto;
}
.lead-site-menu {
  position: fixed;
  left: 0%;
  height: 10vh;
  width:100%;
  background-color: rgb(133, 237, 255);
  border-top: solid;
  border-color: #ff9900;
  z-index: 10;
}
.lead-site-menu-inner{
  height: 100%;
  width: 100%;
}
.site-menu {
  /*ブロックスタイル*/
  font-size: 3vw;
  color: #ffffff;
  text-shadow: 0.2vw 0.2vw 0 #ff9900, -0.2vw -0.2vw 0 #ff9900,
               -0.2vw 0.2vw 0 #ff9900,0.2vw -0.2vw 0 #ff9900,
               0px 0.2vw 0 #ff9900, -0.2vw 0 #ff9900,
               -0.2vw 0 0 #ff9900,0.2vw 0 0 #ff9900;
  font-weight: bold;
}

  .site-menu ul{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
} 
.site-menu ul li{
  width: 25%;
  border-bottom: solid;
  border-color: #ff9900;
  text-align: center;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0.5%;
  list-style-type: none;
  
}

.site-menu ul li a{
  display: block;
  height: auto;
  width: 100%;
  font-family: impact;
  letter-spacing: 0.2em;
}

.site-menu ul li:hover{
  background-color: rgb(255, 168, 235);
  border-color: aqua;
  text-shadow: 0.2vw 0.2vw 0 aqua, -0.2vw -0.2vw 0 aqua,
               -0.2vw 0.2vw 0 aqua,0.2vw -0.2vw 0 aqua,
               0px 0.2vw 0 aqua, -0.2vw 0 aqua,
               -0.2vw 0 0 aqua,0.2vw 0 0 aqua;
}

.footer{
  /*ブロックスタイル*/
  width:100%;
  height: auto;

}
.footer-inner{
  height: 4vh;
  width: 100%;
  
}
.footer h2{
  font-size: 3vh;
  font-weight: bold;
  line-height: 3vh;
}
.footer h2::after{
  content:'';
  display: block;
  width: 30%;
  height: auto;
  background-color: #000000;
  margin-top: 2%;
}
.footer h3{
  font-size: 2vh;
  line-height: 3vh;
}
.footer h3::after{
  content:'';
  display: block;
  width: 30%;
  height: auto;
  background-color: #000000;
  margin-top: 2%;
}
.contact{
  margin-top: 4vh;
  padding-left: 4%;
  margin-left: 5%;
  margin-right: auto;


}
.form-area{
  background-color: #d6caae;
  margin-top: 1vh;
  padding-top: 1vh;
  display: flex;
  flex-wrap: wrap;
}
.form-area dt{
  width: 30vw;
  padding: 1vh 0;
  font-size: 1.5vh;
  font-weight: bold;
  line-height: 3vh;
}
.form-area dt .required::after{
  content: '必須';
  font-size: 1vh;
  color: #eb4f32;
  margin-left: 1vw;
}
.form-area dd{
  width: 50vw;
  font-size: 1.5vh;
  padding: 1vh 0;
  margin-left: 10vw;
}
.input-text{
  width: 60%;
  height: 30%;
}
.radio-button{
  font-size: 2vh;
  display: block;
  margin-top: 1vh;
}
.radio-button:first-child{
  margin-top: 0%;
}
.radio-button input{
  margin-right: 1vw;
}
.message{
  width: 80%;
  height: auto;
  padding: 5%;
  line-height: 1;
}
.confirm-text{
  font-size: 1.5vh;

}
.submit-button{
  background-color: #f4dd64;
  display: inline-block;
  min-width: 30%;
  line-height: 3vh;
  border-radius: 25vw;
  font-size: 2vh;
  font-family: 'Montserrat',sans-serif;
  cursor: pointer;
  border: none;
  margin-bottom: 3vh;
}
.submit-button:hover{
  background-color: #d8b500;
}

.copyright{
  position: sticky;
  color: #ffffff;
  font-size: 2vh;
  margin: 0%;
}

@media(min-width: 800px){/*PC画面用*/
  .main{
    padding-top: 15vh;
  }
  .lead-site-menu {
    /*ブロックスタイル*/
    top: 5%;
    border-bottom: solid;
    border-color: #ff9900;
  }
}
@media(max-width: 800px){/*スマホ画面用*/

  .main{   
    padding-top: 5vh;
  }
  .lead-site-menu {
    /*ブロックスタイル*/
    bottom: 0%;
  }
  .footer{
    padding-bottom: 10vh;
  }
}


