@charset "utf-8";
.title{
  padding-top: 1vh;
  height: 13vh;
  background-image: url(../img/家紋/家紋_ピンク・ブルー.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 0.1vh 0.1vh 1vh #4b2c14;
  background-color: #fffAE1;
}
.title h1{
  font-family: 'Montserrat',sans-serif;
  font-size: 5vh;
  font-weight: bold;
}
.title p{
  font-size: 2vh;
  text-align: center;
  
}

.recommended-contents{
  width: 90%;
  font-size: 3vh;
  margin-right: 2vw;
  margin-top: 5%;  
  padding-left: 2vw;
  display: flex;
  flex-direction: row-reverse;
}

.contents-all{
  padding-top: 2vh;
  z-index: 1;
}
.song_area:before{
  content: "";
  display: block;
  height: 16vh;
  margin-top: -16vh;
  visibility: hidden;

}
.live_area:before{
  content: "";
  display: block;
  height: 16vh;
  margin-top: -16vh;
  visibility: hidden;
}
.goods_area:before{
  content: "";
  display: block;
  height: 16vh;
  margin-top: -16vh;
  visibility: hidden;
}

.contents-category{
  background-color: #e1f4ff;
  padding: 2% ;
  margin-bottom: 2%;
  border-radius: 5vw;
  width: 60%;
}
.contents-category h2{
  font-size: calc(100vh - (95vh - 100%));
  margin-top: 1%;
  margin-bottom: 1%;
}
.contents-category h2::after{
  content: '';
  display: block;
  height: 1vh;
  background-color: #000000;
  margin-top: 1%;
}
.contents-list{
  margin-top: 2%;
  padding-left: 0%;
  position: relative;
  margin-bottom: 10%;
}

.contents-list iframe{
  display: block;
  width: 100%;
  height: 50%;
}
.contents-list img{
  display: block;
  transition-duration: 0.2s;
}
.contents-list img:hover{
  transform: scale(1.05);
}
.contents-list dl{
  margin-top: 4%;
  font-size: max(2vh);
}
.contents-list dt{
  font-weight: bold;
}
.contents-list dd{
  margin-left: 0%;
  line-height: 3vh;
  margin-top: 4%;
}
.contents-list img{
  width: 100%;
}
.contents-menu{
  flex-shrink: 0;
  margin-right: 3%;
  width: 30%;
  border-radius: 5vw;
}

.contents-menu-inner{
  position: sticky;
  top: 30%;
  left: 0;
  right: 0;
  background-color: #ffe8fd;
  padding: 5%;
  border-radius: 5vw;
}
.contents-menu-inner h2{
  font-size: 3vh;
}
.contents-menu-inner ul{
  padding-left: 0%;
  margin-top: 2%;
  margin-left: 2vh;
}
.contents-menu-inner li{
  font-size: 2vh;
  margin-top: 2vh;
  display: list-item;
  list-style: disc;
}
.contents-menu-inner a{
  font-size: 2vh;
}

.appeal-area{
  margin-top: 2vh;
  display: flex;
}

@media (max-width: 800px){
  .recommended-contents{
    display: block;
    margin-top: 3vh;
  }
  .contents-category{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
  .contents-menu{
    background-color: #ffe8fd;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 5vh;
    margin-right: 0%;
    width: 100%;
  }
  .contents-menu-inner{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
}
