@charset "utf-8";

.title{
  padding-top: 1vh;
  height: 13vh;
  width: 100%;
  background-image: url(../img/家紋/家紋_ピンク・ブルー.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 0.2vh 0.2vh 1vh #4b2c14;
  background-color: #fffAE1;
}

.title h1{
  font-family: 'Montserrat',sans-serif;
  font-size: 5vh;
  padding-top: 2vh;
  margin: 0%;
}
.title p{
  font-size: 3vh;
  margin-top: 1vh;
  text-align: center;
}
.url-list{
  width: 90%;
  height: auto;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit , 30%);
  column-gap: 5%;
  background-color: #e1f4ff;
  padding: 2% ;
  margin-bottom: 4%;
  border-radius: 5vw;
}
.url-list li{
  font-size: 25vw;
}
.url-list li img{
  width: 90%;
}
.url-list .jump_page_label{
  font-size: 8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.url-list a{
  display: block;
  transition-duration: 0.2s;
}
.url-list a:hover{
  transform: scale(1.05);
}
@media (max-width: 800px){

  .url-list{
    display: grid;
    max-width: 90%;
    margin-top: 3vh;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3%;
  }
}